<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center green-text text-lighten-2">Green Path</h1>
            <div class="row center white-text">
                <h5 class="header col s12 light">Rechercher une ville, une commune ou un département dans le moteur de recherche de pollutions.</h5>
            </div>
            <div class="row center">

                <div class="input-field col s6 offset-s1">
                    <input id="recherche_input" type="text" class="validate" ng-model="input" ng-change="onChangeInput()" list="data">
                    <label for="recherche_input" class="white-text">Villes / Départements</label>
                    <datalist id="data">
                        <option ng-repeat="result in resultSearch track by $index" value="{{result}}"></option>
                    </datalist>
                </div>

                <button class="btn waves-effect waves-light green btn-large" type="submit" name="action">Rechercher
                    <i class="material-icons right">send</i>
                </button>

            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img ng-src="./assets/img/paralax/accueil1.jpg" alt="Unsplashed background img 1"></div>
</div>