<div class="container">

    <mz-page-title title="Carte" icon="language"></mz-page-title>

    <div id="map" class="map"></div>
    <div id="info" style="display: none;"></div>

    <label for="track" class="waves-effect waves-light btn">
        track position
        <i class="material-icons right">cloud</i>
        <input id="track" type="checkbox"/>
    </label>
    <p>
        position accuracy : <code id="accuracy"></code>&nbsp;&nbsp;
        altitude : <code id="altitude"></code>&nbsp;&nbsp;
        altitude accuracy : <code id="altitudeAccuracy"></code>&nbsp;&nbsp;
        heading : <code id="heading"></code>&nbsp;&nbsp;
        speed : <code id="speed"></code>
    </p>
</div>
