<div class="container">

    <mz-page-title title="Carte" icon="language"></mz-page-title>

    <div id="map" class="map"></div>  
    
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content">
            <span id="location"></span>
        </div>
    </div>  

    <div id="layerSelector">
        <h6>Sélectionner un fond de carte :</h6>
        <p>
            <input name="group1" type="radio" id="osm" ng-click="changeBaseLayer('osm')" checked />
            <label for="osm">OpenStreeMap</label>
        </p>
        <p>
            <input name="group1" type="radio" id="bing" ng-click="changeBaseLayer('bing')" />
            <label for="bing">BingMap</label>
        </p>
    </div>
    
</div>