/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

a.brand-logo img {
    height: auto;
    max-height: 30px;
    padding: 2px;
    position: absolute;
    margin-top: 10%;
    left: -25%;
}

div.pinned {
    z-index: 2;
    background-color: #FFF;
    padding: 0px 15px 10px 0px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    box-shadow: 1px 1px 12px #555;
    right: 45px;
    bottom: 45px;
}


.fix-action-btn {
    right: 30px;
    bottom: 30px;
}

p.text-section {
    text-align: justify
}

.parallax img {
    display: inline;
}


img.icon-section {
    height: auto;
    max-height: 100px;
    position: relative;
}

div.icon-block{
    text-align: center;
}

span.container-title i {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}

span.container-title h1 {
    margin-left: 100px;
}

.container{
    margin-bottom:30px;
}