/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

a.brand-logo img {
    height: auto;
    max-height: 30px;
    padding: 2px;
    position: absolute;
    margin-top: 10%;
    left: -25%;
}

div.pinned {
    z-index: 2;
    background-color: #FFF;
    padding: 0px 15px 10px 0px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    box-shadow: 1px 1px 12px #555;
    right: 45px;
    bottom: 45px;
}


.fix-action-btn {
    right: 30px;
    bottom: 30px;
}

p.text-section {
    text-align: justify;
}

.parallax img {
    display: inline;
}


img.icon-section {
    height: auto;
    max-height: 100px;
    position: relative;
}

div.icon-block{
    text-align: center;
}

span.container-title i {
    position: absolute;
    margin-left: -30px;
    margin-top: 20px;
}

span.container-title h5 {
    margin-left: 30px;
    position: static;
    margin-top: 0px;
}

span.container-title{
    margin-left: 25px;
}

span.container-title h1 {
    margin-left: 100px;
}

.container{
    margin-bottom:30px;
}

.pagination li.active {
    background-color: #4CAF50;
}

footer.page-footer{
    padding-top: 0px;
}

footer.page-footer a{
    text-decoration: underline;

}

/**
*OpenLayers
*
*/


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 215px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.ol-mouse-position{
    position: absolute;
    top: 94%;
    right: 4%;
    color: white;
}

.map:-moz-full-screen {
    height: 100%;
}
.map:-webkit-full-screen {
    height: 100%;
}
.map:fullscreen {
    height: 100%;
}

.ol-overviewmap button {
    display: inline-block;
    bottom: 25px;
    position: absolute;
}

.change-layer{
    top: 65px;
    right: .5em;
}

.ol-touch .change-layer {
    top: 80px;
}