<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="./assets/img/paralax/logo-home.jpg">Green Path</a>

        <ul class="right hide-on-med-and-down">
            <li ng-repeat="card in cards"><a ng-href="{{card.url}}">{{card.title}}</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li ng-repeat="card in cards"><a ng-href="{{card.url}}">{{card.title}}</a></li>
        </ul>

        <a href="#/accueil" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>