<div class="container">
    <mz-page-title title="Plan du site" icon="list"></mz-page-title>
    <div ng-repeat="card in cards">
        <div class="divider"></div>
        <div class="section">
            <a ng-href="{{card.url}}"><h4>{{card.title}}</h4></a>
            <p style="font-style: italic;">
                {{card.shorttext}}
            </p>            
            <div ng-repeat="child in card.children" ng-if="card.children.length != 0" class="section" style="margin-left:5%;">
                <a ng-href="{{child.url}}"><h5>{{child.title}}</h5></a>
                <p style="font-style: italic;">
                    {{child.shorttext}}
                </p>
            </div>
        </div>
    </div>
</div>