<div class="container" style="margin-top: 39px;">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">

            <div ng-if="card.showIcon" ng-repeat="card in cards" class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">{{card.title}}</h5>

                    <p class="light center">{{card.shorttext}}</p>
                </div>
            </div>

        </div>

    </div>
</div>