<div class="container">
    <div class="section" style="margin-bottom: -40px; margin-top: 15px;">
        <div class="row">
            <div id="iconSection" ng-if="card.showIcon" ng-repeat="card in cards" class="col s12 m4">
                <div class="icon-block">
                    <img class="icon-section" ng-click="go(card.url)" style="cursor: pointer" ng-src="{{card.ico}}" >
                    <h5 class="center">{{card.title}}</h5>
                    <p class="light center">{{card.shorttext}}</p>
                </div>
            </div>
        </div>
    </div>
</div>