<div class="container" style="margin-top: 20px;">
    <div class="section">
        <div  class="row">
            <div id="iconSection" ng-if="card.showIcon" ng-repeat="card in cards" class="col s12 m4">
                <div class="icon-block" ng-click="go(card.url)" style="cursor: pointer">
                    <img class="icon-section" ng-src="{{card.ico}}" >
                    <h5 class="center">{{card.title}}</h5>
                    <p class="light center text-section">{{card.shorttext}}</p>
                </div>
            </div>

        </div>

    </div>
</div>