.navcard{
    height: 400px;
    width: 800px;
    padding: 10px;
}

.box-hover{
    height: 400px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.65);
    top: 0px;
    position: absolute;
}

.content-box-hover{
    width: 60%;
    margin-top: 17%;
    margin-left: 10%;
}

.container-navcard{
    width: 500px;
}