<div class="container-fluid">

    <div class="row">

        <div ng-repeat="card in cards" ng-show="card.showCard" class="col-md-6 col-xs-12">

            <div class="panel panel-default">
                
                <div class="panel-heading"><span ng-class="{{card.glyphicon}}"></span><a ng-href="{{card.url}}" ng-click="toggleCard(card)" role="link">{{card.title}}</a></div>
                <div class="panel-body">
                    <a ng-href="{{card.url}}" role="link"><img ng-src="{{card.imgUrl}}" alt="Projet" class="img-thumbnail">
                    </a>
                    {{card.description}}
                </div>
            </div>

        </div>

    </div>

</div>