<div>

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">
                    <span class="glyphicon glyphicon-leaf"></span>
                    Green Path</a>
            </div>

            <ul class="nav navbar-nav"> 
                <li ng-repeat="card in cards"><a ng-href="{{card.url}}" ng-click="toggleCard(card)">{{card.title}}</a></li>               
            </ul>   
        </div>

    </nav>

    <ol class="breadcrumb">
        <li ng-repeat="card in cards" ng-show="card.activated">
            <a ng-show="card.activated" ng-href="{{card.url}}" ng-click="toggleCard(card)">{{card.title}}</a>
        </li>    
    </ol>

</div>