<div class="container">

    <mz-page-title title="Moteur de recherche" icon="search"></mz-page-title>

    <form class="row"  ng-submit="launchSearch(0)">
        <div class="col s12 m12">
            <div class="card white">

                <div id="options" class="card-content">
                    <span class="card-title">Options de recherche</span>

                    <div class="row">

                        <div class="input-field col s12 m6">
                            <input  id="departement" type="text" class="validate" ng-model="departement" ng-click="selectDep()" >
                            <label for="departement">Département</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <input id="ville" type="text" class="validate" ng-model="ville" ng-click="selectVille()">
                            <label for="ville">Ville</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <mz-datepicker id="dateDeb" date="dateDeb"></mz-datepicker>
                            <label for="dateDeb" class="active">Date de début</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <mz-datepicker id="dateFin" date="dateFin">Date de fin</mz-datepicker>
                            <label for="dateFin" class="active">Date de fin</label>
                        </div>

                    </div>

                </div>

                <div class="card-action">
                    <a class="waves-effect waves-light btn green" ng-click="launchSearch(0)"><i class="material-icons left">search</i>Rechercher</a>
                    <input type="submit" style="display: none">
                    <a class="waves-effect waves-light btn green" ng-click="resetInputs()"><i class="material-icons right" >not_interested</i>Annuler</a>
                </div>
            </div>
        </div>
    </form>

    <div id="datatable" class="col s12 m12" ng-show="results.length != 0">
        <h5>{{ nbCaptures }} résultats</h5>
        <table class="responsive-table striped">
            <thead>
            <tr>
                <th data-field="dep">Département</th>
                <th data-field="v">Ville</th>
                <th data-field="t">Température</th>
                <th data-field="h">Humidité</th>
                <th data-field="s">Son</th>
                <th data-field="c">CO2</th>
                <th data-field="date">Date</th>
                <th data-field="la">Latitude</th>
                <th data-field="lo">Longitude</th>
            </tr>
            </thead>

            <tbody>
            <tr  ng-repeat="result in results">
                <td>{{result.date | date : 'dd/MM/yyyy - mm:HH:ss'}}</td>
                <td>{{result.departement}}</td>
                <td>{{result.ville}}</td>
                <td>{{formatNumber(result.temperature)}}</td>
                <td>{{formatNumber(result.humidite)}}</td>
                <td>{{formatNumber(result.son)}}</td>
                <td>{{formatNumber(result.co2)}}</td>
                <td>{{formatNumber(result.lat)}}</td>
                <td>{{formatNumber(result.lng)}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <mz-pagination pages="nbPages" action="changePage(index)" ng-show="results.length != 0"></mz-pagination>

    <div class="icon-block">
        <h5 ng-show="results.length == 0 && results == true">Pas de résultat !</h5>
    </div>

</div>
