<div class="container">
    <h1>Moteur de recherche</h1>

    <div class="row">

        <div class="col s3">

            <div class="card">

                <div class="container">

                    <h5>Options :</h5>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="latitude" type="text" class="validate">
                            <label for="latitude">Latitude</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="longitude" type="text" class="validate">
                            <label for="longitude">Longitude</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="ville" type="text" class="validate">
                            <label for="ville">Ville</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="departement" type="text" class="validate">
                            <label for="departement">Département</label>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="col s9">

            <table>
                <thead>
                <tr>
                    <th data-field="id">Name</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="price">Item Price</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
