<div class="container">

    <mz-page-title title="Moteur de recherche" icon="search"></mz-page-title>

    <form class="row"  ng-submit="launchSearch(0)">
        <div class="col s12 m12">
            <div class="card white">

                <div id="options" class="card-content">
                    <span class="card-title">Options de recherche</span>

                    <div class="row">

                        <div class="input-field col s12 m6">
                            <input  id="departement" type="text" class="validate" ng-model="departement" ng-click="selectDep()" >
                            <label for="departement">Département</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <input id="ville" type="text" class="validate" ng-model="ville" ng-click="selectVille()">
                            <label for="ville">Ville</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <mz-datepicker id="dateDeb" date="dateDeb" label="Date de début"></mz-datepicker>
                        </div>

                        <div class="input-field col s12 m6">
                            <mz-datepicker id="dateFin" date="dateFin" label="Date de fin"></mz-datepicker>
                        </div>

                    </div>

                </div>

                <div class="card-action">
                    <div class="row">
                        <div class="col s6 m6">
                            <a class="waves-effect waves-light btn green" style="float: left;" ng-click="launchSearch(0)"><i class="material-icons">search</i>Rechercher</a>
                            <input type="submit" style="display: none">
                        </div>
                        <div class="col s6 m6">
                            <a class="waves-effect waves-light btn green" style="float: right" ng-click="resetInputs()"><i class="material-icons" >not_interested</i>Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="datatable" class="col s12 m12" ng-if="results.length != 0 && searchLaunch == true">
        <h5>{{ nbCaptures }} résultat(s)</h5>
        <table class="responsive-table striped">
            <thead>
            <tr>
                <th data-field="dt">Date</th>
                <th data-field="d">Département</th>
                <th data-field="v">Ville</th>
                <th data-field="t">Température</th>
                <th data-field="h">Humidité</th>
                <th data-field="s">Son</th>
                <th data-field="c">Co2</th>
                <th data-field="la">Latitude</th>
                <th data-field="lo">Longitude</th>
            </tr>
            </thead>

            <tbody>
            <tr  ng-repeat="result in results">
                <td>{{result.date | date : 'dd/MM/yyyy - HH:mm:ss'}}</td>
                <td>{{result.departement}}</td>
                <td>{{result.ville}}</td>
                <td>{{formatNumber(result.temperature)}} °C</td>
                <td>{{formatNumber(result.humidite)}} %</td>
                <td>{{formatNumber(result.son)}} dB</td>
                <td>{{formatNumber(result.co2)}}</td>
                <td>{{formatNumber(result.latitude)}}</td>
                <td>{{formatNumber(result.longitude)}}</td>
            </tr>
            </tbody>
        </table>

        <mz-pagination pages="nbPages" action="changePage(index)"></mz-pagination>
    </div>

    <div class="icon-block">
        <h5 ng-if="results.length == 0 && searchLaunch == true">Pas de résultat !</h5>
    </div>

</div>
